.login-form {
  margin: auto;
  margin-top: 100px;
  width: 450px;
}

.login-username {
  margin: 10px;
  padding: 15px
}

.project-main-div {
  text-align: center;
  width: 1400px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.todo-select-field {
  margin: '10px';
  min-width: '120px';
}


.project-select-field {
  margin: '2px'
}

.pie-chart {
  align-items: center;
  display: flex;
  justify-content: center;
}

.report-table {
  minWidth: 700
}

.report-table-main {
  width: 100%;
  margin-top: 10px;
  overflowX: auto;
}


.outlined-select-todo-simple {
  width: "1px";
  padding: "1px 4px";
}

.heading-dashboard {
  margin-top: 50px;
  font-size: 29px;
}